<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato|Niramit" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/solid.css" integrity="sha384-aj0h5DVQ8jfwc8DA7JiM+Dysv7z+qYrFYZR+Qd/TwnmpDI6UaB3GJRRTdY8jYGS4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/fontawesome.css" integrity="sha384-WK8BzK0mpgOdhCxq86nInFqSWLzR5UAsNg0MGX9aDaIIrFWQ38dGdhwnNCAoXFxL" crossorigin="anonymous">

    <link rel="stylesheet" href="/main.css">
    <title>Chat away</title>
  </head>
  <body>
    <div id="main">
      <div id="panel">
        <div id="menu">
          <div class="button active" id="users-btn" @click="showList('users')">
            <i class="fas fa-user-friends"></i>
          </div>
          <div class="button" id="chats-btn" @click="showList('chats')">
            <i class="fas fa-comments"></i>
          </div>
        </div>

        <div id="frame">
          <div id="listings" class="users">
            <ul id="users">
              <li class="online-user"><p>someone</p></li>
              <li class="online-user" v-for="person in users" @click="saveAndSwitch(person)">
                <p>{{ person.name }}</p>
              </li>
            </ul>

            <ul id="chats">
              <li class="chat current" @click="saveAndSwitch('')">
                <p class="roomname">Chat Hall</p>
              </li>
              <li class="chat">
                <p class="roomname">Someone</p>
              </li>
            </ul>

            <ul id="search-results">
              <li class="res"><p>result1</p></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="messaging">
        <div id="chat-title">
          <h2>Chat Hall</h2>
        </div>
        <ul id="msg-list" v-html="testMsgs"></ul>

        <div id="user-input">
          <form action="" @submit.prevent="submitMsg">
            <input type="text" v-model="user.msg" placeholder="Type here..." :disabled="!user.name">
            <button type="button" @click="submitMsg">Send</button>
          </form>
        </div>
      </div>

      <div id="overlay" v-if="!user.name">
        <div>
          <h4>Enter your name: <span :class="{ red: spaceInName }">(no spacing)</span></h4>
          <input type="text" v-model.trim="nameForm" @keyup.enter="checkInput" autofocus>
          <button @click="checkInput" :disabled="user.name === ''">Join</button>
          <p v-if="user.taken" class="red">Name taken 😑</p>
        </div>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/index.js"></script>
  </body>
</html>
